/*body{			
	background:url(C:\\Bhavana\\Profesional\\Sem3\\WT\\MiniProject\\MyProject\\Pics\\download.jpeg);	
}*/
legend{
	color:black;
	font-weight:bold;
}

 #dateTime {
    width:100;
    border: 1px solid red;
  }
  
 
	
